.button {
  padding: 15px 24px;

  font-family: $roboto-condensed-font;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  box-sizing: border-box;
  border-radius: 5px;
}
