.button {
  font-family: $roboto-condensed-font;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  box-sizing: border-box;
  border-radius: 5px;
}

.button__text--mobile {
  display: none;
}

@media (max-width: $mobile-width) {
  .button__text {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
