.feedback {
  padding: 0 20px;

  background-color: #00b2ff;
  background-image: url("../img/bg-airplane@1x.png");
  background-repeat: no-repeat;
  background-position: center top -59px;
  background-size: 1745px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-airplane@2x.png");
  }
}

.feedback__wrapper {
  max-width: 570px;
  margin-left: auto;
  padding-top: 92px;
  padding-bottom: 112px;
}

.feedback h2 {
  margin: 0;
  margin-bottom: 8px;

  font-family: $roboto-condensed-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.feedback p {
  margin: 0;
  margin-bottom: 52px;

  color: #ffffff;
}

@media (max-width: $tablet-width) {
  .feedback {
    padding: 0;

    background-image: none;
  }

  .feedback__wrapper {
    max-width: none;
    margin-left: 0;
    padding: 80px 90px 102px 90px;
  }

  .feedback h2 {
    margin-bottom: 16px;

    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrapper {
    display: flex;
    flex-direction: column;

    padding: 30px 15px 43px 15px;
  }

  .feedback h2 {
    margin-bottom: 13px;

    font-size: 28px;
    line-height: 39px;
  }

  .feedback p {
    margin-bottom: 22px;
  }
}
