.form form {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form label {
  width: calc((100% - 30px) / 2);
}

.form input[type="text"],
.form input[type="tel"] {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.form textarea {
  width: 100%;
  min-height: 154px;
  margin-bottom: 43px;

  resize: none;
}

.form input[type="text"],
.form input[type="tel"],
.form textarea {
  padding: 14px 21px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    padding: 13px 20px;

    border: 1px solid #ffffff;
  }
}

.form button {
  width: calc((100% - 30px) / 2);
  padding: 14px 24px;
  border: 1px solid #ffffff;

  font-family: $roboto-condensed-font;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-color: transparent;

  box-sizing: border-box;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #00b2ff;

    background-color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }
}

.form input[type="checkbox"] {
  position: absolute;

  appearance: none;
}

.form__icon {
  position: absolute;
  top: 6px;
  left: 5px;

  display: none;
}

.form__checkbox-label {
  position: relative;

  padding-left: 32px;
  padding-right: 17px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  opacity: 0.8;
  cursor: pointer;
  box-sizing: border-box;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px solid #ffffff;
  }

  &:hover {
    opacity: 1;
    text-decoration: underline;

    &::before {
      box-shadow: 2px 2px rgba(109, 105, 105, 0.5);
    }
  }

  &:active {
    opacity: 0.8;
    text-decoration: none;

    &::before {
      box-shadow: none;
    }
  }
}

.form input[type="checkbox"]:checked + .form__icon {
  display: block;
}

@media (max-width: $tablet-width) {
  .form input[type="text"],
  .form input[type="tel"] {
    margin-bottom: 45px;
  }

  .form textarea {
    margin-bottom: 52px;
  }
}

@media (max-width: $mobile-width) {
  .form label {
    width: 100%;
  }

  .form input[type="text"],
  .form input[type="tel"] {
    margin-bottom: 33px;
    padding: 14px 17px;
  }

  .form textarea {
    min-height: 105px;
    margin-bottom: 30px;
    padding: 14px 17px;
  }

  .form button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 33px;
  }
}
