.head {
  background-color: #1b2d37;
  background-image: url("../img/bg-head-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 9px;
  background-size: cover;

  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-head-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .head {
    background-image: url("../img/bg-head-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-head-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .head {
    background-image: url("../img/bg-head-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-head-mobile@2x.jpg");
    }
  }
}
