.logo {
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.logo__image {
  width: 52px;
  height: 52px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  padding-top: 8px;

  font-family: $roboto-condensed-font;
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;

  &--white {
    color: #ffffff;
  }

  &--black {
    color: #203c42;
  }
}

.logo__slogan {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

@media (max-width: $mobile-width) {
  .logo__image--header {
    width: 38px;
    height: 38px;
  }

  .logo__text--white {
    display: none;
  }
}
