.page-header {
  max-width: 1411px;
  margin: 0 auto;
  padding: 34px 7px 0 23px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 113px;
}

.page-header__logo {
  width: 202px;
}

.page-header__contacts {
  display: flex;
  width: 441px;
  margin-left: auto;
  margin-right: 38px;
}

.page-header__link {
  margin-right: 88px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.page-header__icon {
  margin-right: 10px;

  vertical-align: middle;
}

.page-header__button {
  width: 180px;
  padding: 14px 24px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border: 1px solid #ffffff;

  &:hover,
  &:focus {
    background-color: #00b2ff;
    border: 1px solid #00b2ff;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding: 18px 24px 0 24px;
  }

  .page-header__wrapper {
    margin-bottom: 5px;
  }

  .page-header__contacts {
    width: 83px;
    margin-right: 0;
  }

  .page-header__link {
    margin-right: 33px;

    font-size: 0;
  }

  .page-header__icon {
    margin-right: 0;

    &--mail {
      width: 26px;
      height: 19px;
      margin-top: 3px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }

  .page-header__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding: 18px 5px 0 16px;
  }

  .page-header__link {
    margin-right: 24px;

    font-size: 0;
  }
}
