.page-header {
  background-color: #1b2d37;
  background-image: url("../img/bg-header-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 0;
}

.page-header__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 108px;
}

.page-header__logo {
  margin-right: 120px;
}
