.services {
  padding: 89px 20px 102px 20px;

  background-color: #1b2d37;
}

.services h2 {
  margin: 0;
  margin-bottom: 50px;

  font-family: $roboto-condensed-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  position: relative;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.services__link {
  position: relative;

  display: block;
  min-height: 620px;

  &--production {
    background-color: #7f7f7f;
    background-image: url("../img/bg-production-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-production-desktop@2x.jpg");
    }
  }

  &--mounting {
    background-color: #7f7f7f;
    background-image: url("../img/bg-mounting-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-mounting-desktop@2x.jpg");
    }
  }

  &--components {
    background-color: #7f7f7f;
    background-image: url("../img/bg-components-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-components-desktop@2x.jpg");
    }
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    width: 63px;
    height: 63px;

    background-color: #00b2ff;
  }

  &:hover,
  &:focus {
    outline: 1px solid #00b2ff;
  }
}

.services__text {
  display: inline-block;
  width: 170px;
  margin-top: 52px;
  margin-left: 44px;

  font-family: $roboto-condensed-font;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.services__icon {
  position: absolute;
  right: 27px;
  bottom: 28px;
  z-index: 1;
}

@media (max-width: $tablet-width) {
  .services {
    padding: 48px 25px 28px 25px;
  }

  .services__list {
    flex-direction: column;
    align-items: center;
  }

  .services h2 {
    margin-right: 95px;

    font-size: 32px;
    line-height: 45px;
  }

  .services__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 47px;
  }

  .services__link {
    min-height: 256px;

    &--production {
      background-image: url("../img/bg-production-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-production-tablet@2x.jpg");
      }
    }

    &--mounting {
      background-image: url("../img/bg-mounting-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-mounting-tablet@2x.jpg");
      }
    }

    &--components {
      background-image: url("../img/bg-components-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-components-tablet@2x.jpg");
      }
    }
  }

  .services__text {
    margin-top: 40px;
  }
}

@media (max-width: $mobile-width) {
  .services {
    padding: 50px 15px 35px 15px;
  }

  .services__item {
    margin-bottom: 30px;
  }

  .services h2 {
    margin-right: 0;
    margin-bottom: 43px;
    margin-left: 10px;

    font-size: 28px;
    line-height: 39px;
  }

  .services__link {
    &--production {
      background-image: url("../img/bg-production-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-production-mobile@2x.jpg");
      }
    }

    &--mounting {
      background-image: url("../img/bg-mounting-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-mounting-mobile@2x.jpg");
      }
    }

    &--components {
      background-image: url("../img/bg-components-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-components-mobile@2x.jpg");
      }
    }
  }

  .services__text {
    margin-top: 21px;
    margin-left: 35px;
  }
}
